.local/
.vscode/
.gradle/
node_modules/
buildJvm/bin
build/

.classpath
.project
.settings
.metadata
*.iml
*.ipr

*.class
*/.vs
*.suo

bin/
obj/

.idea
*.iws
*.iml
*.ipr
out/

*.py[co]
.python-version
Pipfile
venv/
.coverage

.DS_Store
.vs/
**/target/
Cargo.lock
**/*.rs.bk
/target
todo.md

84_Super_Star_Trek/java/SuperStarTrek/java_pid13688.hprof.cmnmro.b.ij
84_Super_Star_Trek/java/SuperStarTrek/java_pid24924.hprof.clh4ju.b.ij
84_Super_Star_Trek/java/SuperStarTrek/java_pid26840.hprof.cojdvk.b.ij